@font-face {
    font-family: myFirstFont;
    src: url("/fonts/monofonto/MONOFONT.TTF");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFirstFont;
}
h1 {
    padding: 20px;
}
h2 {
    padding: 20px;
    font-size: 2rem;
}
p {
    padding: 20px;
    font-size: 1.5rem;
}
a {
    color: white;
}
a:hover {
    color:#596D48;
}
.container {
    display: flex;
    flex-direction: row;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 65vw;
    color: white;
   

    background-image: url("/images/leaves.jpg"), url("/images/odin-lined.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.sidebar span {
   position: absolute;
   bottom: 0;
   opacity: 0.6;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.header {
    width: 100%;
    text-align: left;
    word-wrap: break-word;
}
.logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max(21vh, 20vh);
    margin-bottom: 350px;
    width: 100%;
    background-color: rgba(8, 8, 8, 0.5);
    font-size: 1.8em;
}
.sign-up {
    box-shadow: 5px 6px 10px #adacac;
}
.footer {
    display: flex;
    flex-direction: column;
}
.footer a {
    color: #596D48;
    text-decoration: none;
}
.footer a:hover {
    color:rgba(73,10,7,48);
}

input {
    box-sizing: border-box;
    width: 150px;
    height: 30px;
    border: 1px solid #E5E7EB;
    font-size: 15px;
    border-radius: 4px;
    font-family: Helvetica;
    
}
input:focus {
    outline: 1px solid rgb(43, 137, 204);
    background-color: ivory;
    box-shadow: 1px 1px 5px #adacac;
}
input:invalid {
    outline: 1px solid red;
}
.error {
    outline: 1px solid red;
}
.button {
    background-color: #596D48;
    width: 140px;
    height: 45px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    border: none;
    color:white;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(73, 107, 48);
}
strong {
    color:#596D48;
}
fieldset {
    border: none;
}
form {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 40px;
    margin: 20px;
}
.notify {
    font-size: 12px;
    color: red;
    position:relative;
    bottom: 20px;
    right: 20px;
}
label {
    font-size: 25px;
}
fieldset {
    height: 250px;
}
.row {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    flex-direction: row;
}