@font-face {
    font-family: myFirstFont;
    src: url("/fonts/monofonto/MONOFONT.TTF");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFirstFont;
}
h2 {
    padding: 20px;
    font-size: 2rem;
}
p {
    padding: 20px;
    font-size: 1.5rem;
}
.container {
    display: flex;
    flex-direction: row;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 65vw;
    color: white;
   

    background-image: url("/images/leaves.jpg"), url("/images/odin-lined.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.sidebar span {
   position: absolute;
   bottom: 0;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    
    
}
.header {
   
    width: 100%;
    text-align: left;
    
    word-wrap: break-word;
}
.logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin-bottom: 350px;
    width: 100%;
    background-color: rgba(8, 8, 8, 0.5);
    font-size: 1.8em;
}
.sign-up {
    
    height: 30%;
}
.footer {
    
   
    display: flex;
    flex-direction: column;
}
.row {
  margin-bottom: 20px;
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
}
.button {
    background-color: #596D48;
    width: 140px;
    height: 45px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    border: none;
    color:white;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(73, 107, 48);
}
strong {
    color:#596D48;
}